# Food Delivery Data Analysis Hackathon

This notebook loads CSV, JSON, and SQL data, merges them using left joins, and performs analysis for the hackathon questions.

In [ ]:
import pandas as pd
import sqlite3

# Load datasets
orders_path = '/mnt/data/orders.csv'
users_path = '/mnt/data/users.json'
restaurants_sql_path = '/mnt/data/restaurants.sql'

orders = pd.read_csv(orders_path)
users = pd.read_json(users_path)

# Load SQL into sqlite and read
conn = sqlite3.connect(':memory:')
with open(restaurants_sql_path, 'r', encoding='utf-8') as f:
    sql_script = f.read()
conn.executescript(sql_script)
restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

orders.head(), users.head(), restaurants.head()

## Merge Data
Left join orders with users on user_id, and with restaurants on restaurant_id.

In [ ]:
df = orders.merge(users, on='user_id', how='left')
df = df.merge(restaurants, on='restaurant_id', how='left')

# Save final dataset
final_path = '/mnt/data/final_food_delivery_dataset.csv'
df.to_csv(final_path, index=False)

len(df), df.head()

## Analysis

In [ ]:
# 1. Total orders by Gold members
gold_orders_count = df[df['membership'] == 'Gold'].shape[0]

# 2. Total revenue in Hyderabad (rounded)
hyderabad_revenue = round(df[df['city'] == 'Hyderabad']['total_amount'].sum())

# 3. Distinct users
distinct_users = df['user_id'].nunique()

# 4. Average order value for Gold members (2 decimals)
avg_gold_aov = round(df[df['membership'] == 'Gold']['total_amount'].mean(), 2)

# 5. Orders with rating >= 4.5
orders_high_rating = df[df['rating'] >= 4.5].shape[0]

# 6. Top revenue city among Gold members and orders there
gold_df = df[df['membership'] == 'Gold']
gold_city_revenue = gold_df.groupby('city')['total_amount'].sum()
top_gold_city = gold_city_revenue.idxmax()
orders_in_top_gold_city = gold_df[gold_df['city'] == top_gold_city].shape[0]

{
    'gold_orders_count': gold_orders_count,
    'hyderabad_revenue': hyderabad_revenue,
    'distinct_users': distinct_users,
    'avg_gold_aov': avg_gold_aov,
    'orders_high_rating': orders_high_rating,
    'top_gold_city': top_gold_city,
    'orders_in_top_gold_city': orders_in_top_gold_city
}

## MCQs & Insights
(Include narrative answers here if needed for submission.)