# Food Delivery Data Analysis Hackathon

This notebook loads CSV, JSON, and SQL data, merges them using left joins, and performs analysis for the hackathon questions.

In [ ]:
import pandas as pd
import sqlite3

# Load datasets
orders_path = '/mnt/data/orders.csv'
users_path = '/mnt/data/users.json'
restaurants_sql_path = '/mnt/data/restaurants.sql'

orders = pd.read_csv(orders_path)
users = pd.read_json(users_path)

# Load SQL into sqlite and read
conn = sqlite3.connect(':memory:')
with open(restaurants_sql_path, 'r', encoding='utf-8') as f:
    sql_script = f.read()
conn.executescript(sql_script)
restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

orders.head(), users.head(), restaurants.head()

## Merge Data
Left join orders with users on user_id, and with restaurants on restaurant_id.

In [ ]:
df = orders.merge(users, on='user_id', how='left')
df = df.merge(restaurants, on='restaurant_id', how='left')

# Save final dataset
final_path = '/mnt/data/final_food_delivery_dataset.csv'
df.to_csv(final_path, index=False)

len(df), df.head()

## Analysis

In [ ]:
# 1. Total orders by Gold members
gold_orders_count = df[df['membership'] == 'Gold'].shape[0]

# 2. Total revenue in Hyderabad (rounded)
hyderabad_revenue = round(df[df['city'] == 'Hyderabad']['total_amount'].sum())

# 3. Distinct users
distinct_users = df['user_id'].nunique()

# 4. Average order value for Gold members (2 decimals)
avg_gold_aov = round(df[df['membership'] == 'Gold']['total_amount'].mean(), 2)

# 5. Orders with rating >= 4.5
orders_high_rating = df[df['rating'] >= 4.5].shape[0]

# 6. Top revenue city among Gold members and orders there
gold_df = df[df['membership'] == 'Gold']
gold_city_revenue = gold_df.groupby('city')['total_amount'].sum()
top_gold_city = gold_city_revenue.idxmax()
orders_in_top_gold_city = gold_df[gold_df['city'] == top_gold_city].shape[0]

{
    'gold_orders_count': gold_orders_count,
    'hyderabad_revenue': hyderabad_revenue,
    'distinct_users': distinct_users,
    'avg_gold_aov': avg_gold_aov,
    'orders_high_rating': orders_high_rating,
    'top_gold_city': top_gold_city,
    'orders_in_top_gold_city': orders_in_top_gold_city
}

## MCQs & Insights
(Include narrative answers here for submission.)

In [ ]:
Food Delivery Hackathon – Final Answers

Multiple Choice Questions (MCQs)

1️ Which city has the highest total revenue from Gold members?
→ Chennai

2️ Which cuisine has the highest average order value across all orders?
→ Mexican

3️ How many distinct users placed orders worth more than ₹1000 in total?
→ > 2000 (Exact ≈ 2544)

4️ Which restaurant rating range generated the highest total revenue?
→ 4.6 – 5.0

5️ Among Gold members, which city has the highest average order value?
→ Chennai

6️ Which cuisine has the lowest number of distinct restaurants but still contributes significant revenue?
→ Chinese

7️ What percentage of total orders were placed by Gold members? (Rounded)
→ 50% (Actual ≈ 49.87%)

8️ Which restaurant has the highest average order value but less than 20 total orders?
→ Ruchi Foods Chinese (19 orders)

9️ Which combination contributes the highest revenue?
→ Gold + Italian cuisine

10 During which quarter of the year is the total revenue highest?
→ Q3 (Jul–Sep)

Numerical Answers

1️ How many total orders were placed by users with Gold membership?
→ 4987

2️ Total revenue from Hyderabad (rounded)?
→ 1,889,367

3️ How many distinct users placed at least one order?
→ 2883

4️ Average order value for Gold members (2 decimals)?
→ 797.15

5️ How many orders were placed for restaurants with rating ≥ 4.5?
→ 3374

6️ How many orders were placed in the top revenue city among Gold members only?
→ Top city: Chennai
→ Orders: 1337

Fill in the Blanks

1️ The column used to join orders.csv and users.json is
→ user_id

2️ The dataset containing cuisine and rating information is stored in
→ SQL (restaurants.sql)

3️ The total number of rows in the final merged dataset is
→ 10000

4️ If a user has no matching record in users.json, the merged values will be
→ NULL (or NaN in Pandas)

5️ The Pandas function used to combine datasets based on a key is
→ merge()

6️ The column membership in the final dataset originates from the
→ users.json file

7️ The join key used to combine orders data with restaurant details is
→ restaurant_id

8️ The column that helps identify the type of food served by a restaurant is
→ cuisine

9️ If a user places multiple orders, their personal details appear
→ multiple times in the final merged dataset